/*indicateur de mise à jour*/
#css-update::after {
	content: "MAJ:30-01-2024 - 10:39";
}

@font-face {
	font-family: "visuelt-regular-pro";
	src: url("fonts/visuelt-regular-pro.woff2") format("woff2"),
		url("fonts/visuelt-regular-pro.woff") format("woff"),
		url("fonts/visuelt-regular-pro.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

/*Settings généraux pour tout les formulaires*/

.hq-blue {
	color: #333366;
}

.hq-blue-back {
	background-color: #333366;
}

/*Champs texte*/
.hq-input-form > div > input {
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 1px solid #272062;
	border-radius: 8px;
	opacity: 1;
}

.hq-input-form > label {
	color: #333366;
	font-weight: bold;
	font-family: "visuelt-regular-pro";
}

.form-control:focus {
	color: #303ab2;
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 2px solid #303ab2;
	border-radius: 8px;
	opacity: 1;
	outline: none;
	box-shadow: none;
}

.form-text.text-muted {
	font: normal normal normal 14px/24px Inter;
	letter-spacing: 0px;
	color: #62676a;
	opacity: 1;
}
